body {

}



.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    margin-left:240px;
  }
}



.nav-side-menu::-webkit-scrollbar {
    display:none;
}

.page-header{
    margin-top:0;
    font-size:25px;
}
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * Form error styling
 */

label.error{font-weight: normal;margin-top:3px;color:red;}

/*.error{*/
    /*color:red;*/
/*}*/

.error_message{
    color:red;
    font-size:8px;
}

.popover{min-width:220px;}

.no-margin{margin:0 !important;}
select.loading{background:url('../images/loading-bar.gif') no-repeat right 25px center;}

.chosen-container
{
    width: 100% !important;
}

.chosen-container-single .chosen-single {

    padding: 6px 14px;
    height: auto;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #fff !important;
    box-shadow:none !important;
    line-height: 1.42857143;;
}

.chosen-container-single .chosen-single div b {
    background-position:0px 6px;
}

.dies_photo{width:200px;height:200px;border:1px solid #ddd;border-radius:50%;}
.dies_photo.thumb {width:50px;height:50px;border:1px solid #ddd;border-radius:50%;margin-right:10px;}

.location_photos .photo{float:left;width:190px;height:140px;overflow: hidden;position: relative; margin:0 15px 15px 0;}
.location_photos .photo img{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
.location_photos .photo img{max-height:140px; }
.location_photos .photo.default{border:1px solid green;}
.location_photos .photo.default .btn.photo_set_default_btn{display:none;}
.location_photos .photo.default::after{content:"\e067";position:absolute;left:10px;bottom:10px;font-family: 'Glyphicons Halflings';font-size:30px;color:green;}

.location_photos .photo .btn{display:none;position:relative;margin-left:10px;}
.location_photos .photo:hover .btn{display:block;}

.location_thumb{margin-right:10px;border-radius:0;margin-bottom:0;}

.machine_photos .photo{float:left;width:190px;height:140px;overflow: hidden;position: relative; margin:0 15px 15px 0;}
.machine_photos .photo img{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
.machine_photos .photo img{max-height:140px; }
.machine_photos .photo.default{border:1px solid green;}
.machine_photos .photo.default .btn.photo_set_default_btn{display:none;}
.machine_photos .photo.default::after{content:"\e067";position:absolute;left:10px;bottom:10px;font-family: 'Glyphicons Halflings';font-size:30px;color:green;}

.machine_photos .photo .btn{display:none;position:relative;margin-left:10px;}
.machine_photos .photo:hover .btn{display:block;}

.machine_thumb{margin-right:10px;border-radius:0;margin-bottom:0;}


form .dies{margin-top:25px;width:100px;height:100px;border:1px solid #ddd; border-radius:50%;}
form .dies.brass{background:url('../images/coin_brass.png') no-repeat;background-size:cover;}
form .dies.copper{background:url('../images/coin_copper.png') no-repeat;background-size:cover;}
form .dies.nickel_silver{background:url('../images/coin_nickel_silver.png') no-repeat;background-size:cover;}

table.dies .name{margin-top:0;}

table tr td:first-child{  width:50px;  }
table tr td:last-child{  width:150px;  }

table.first-last-auto tr td:first-child{  width:auto;  }
table.first-last-auto tr td:last-child{  width:auto;  }


.panel-heading{padding:12px 7px;}
.panel p.alert{margin-bottom:0;}

/**
 * adjust datepicker because for some reason it is too wide
**/
.datepicker.dropdown-menu {width: 200px;}


.nav-tabs li a{background: #F2F3F7;border-bottom:1px solid #ddd;}
.tab-content{margin-top:20px;}

.table tr div.btn-hover{display:none;}
.table tr:hover div.btn-hover{display:block;}

.post_meters .machine img.cc_cash{height:35px;margin:0 auto;}
.post_meters .machine .row.form-group.meter{padding:5px;border-radius:3px;background: #E4F1FC;}
.post_meters .machine .row.form-group.meter .coin-thumb-wrapper{padding:0;}
.post_meters .machine .row.form-group.meter .coin-thumb{width:60px;height:60px;border:1px solid #ddd;border-radius: 50%;overflow: hidden;position: relative;}
.post_meters .machine .row.form-group.meter .coin-thumb.Brass{background:url('../images/coin_brass.png') no-repeat;background-size:100%;}
.post_meters .machine .row.form-group.meter .coin-thumb.Copper{background:url('../images/coin_copper.png') no-repeat;background-size:100%;}
.post_meters .machine .row.form-group.meter .coin-thumb.nickel_silver{background:url('../images/coin_nickel_silver.png') no-repeat;background-size:100%;}
.post_meters .machine .row.form-group.meter .coin-thumb img{width:100%;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}

.post_meters .machine .row.form-group.meter .coin-thumb img.back{display:none;}
.post_meters .machine .row.form-group.meter .coin-thumb:hover img.front{display:none;}
.post_meters .machine .row.form-group.meter .coin-thumb:hover img.back{display:block;}
.post_meters .btn-container{padding-left:0;}
.post_meters input.error{border:1px solid red;color:#555;}


.machine_settings .nav.list-group a{padding:6px 10px;}
.machine_settings .step{display:none;}
.machine_settings table tr td{vertical-align: middle;}

.machine_form div[role="tabpanel"]{margin-bottom:30px;}

input.datepicker{padding:6px 12px;background: url('../images/icon_calendar.png') no-repeat center right 7px;background-size:20px;cursor:pointer;}
input.clockpicker{background: url('../images/icon_clock.png') no-repeat center right 7px;background-size:20px;cursor:pointer;}

.machine_form .coin_thumb{width:105px;height:105px;margin-top:15px;border-radius:50%;border:1px solid #ddd;position: relative;}
.machine_form .coin_thumb img{position:absolute;left:0;right:0;top:0;bottom:0;margin:0 auto;width:100%;}
.machine_form .coin_thumb.front{margin-right:10px;}
.machine_form .location_has_coins_warning{display:none;}

.add_setting_step{display:none;}
.modal.add_setting table tr td:first-child{width:auto;}
.modal.add_setting table tr td:last-child{width:95px;}

/*.table.reports tr{transition:all .3s ease-in-out;}*/
.table.reports tr.highlight{background:#FAF5A0;}
.table.reports tr.expandable{display:none;}
.table.reports tr.expandable{background:#F7F5D6;}
.table.reports tr.expandable td:first-child{width:300px;}


/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
.top_location_name{margin-top:12px;color:#fff;}
div.dies{margin:0 25px 20px 0;float:left;}
div.dies .thumbnail{width:200px;height:200px;position:relative;border:1px solid #ddd;border-radius:50%;}
div.dies .thumbnail img{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
div.dies h4.title{text-align: center;}

.users_locations li a.admin_location_manager_remove_btn{opacity:.1;}
.users_locations li:hover a.admin_location_manager_remove_btn{opacity:1;}


table.table > tbody > tr > td {vertical-align: middle;}
